
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}


.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    background: #404eed;
}

.nav-bar {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 25px 0;
}

ul.navbar-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}

button.navbar-btn {
    border: 0;
    background: #fff;
    font-family: 'Roboto';
    padding: 13px 19px;
    font-size: 13px;
    display: block;
    border-radius: 50px;
}

.navbar-btn-sec {
    display: flex;
    justify-content: end;
}


button.navbar-btn a {
    text-decoration: none;
    color: black;
}

ul.navbar-ul li a {
    color: white;
    text-decoration: none;
}

ul.navbar-ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.discord-logo img {
    width: 100%;
    max-width: 125px;
    display: block;
}


button.navbar-btn:hover {
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

button.navbar-btn:hover a{
    color: navy;
}

.header-sec {
    padding: 100px 0 150px;
}

header {
    background: #404eed;
    color: #fff;
    background-image: url(images/headerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.main-heading{
    font-size: 3.8rem;
    text-transform: uppercase;
}

.header-div p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.1rem;
    margin: 25px 0;
    line-height: 2rem;
    font-weight: 300;
    word-spacing: 3px;
}

.header-div {
    width: 66%;
    margin: 0 auto;
    text-align: center;
}

.header-btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}   

.header-btn button.window,
.header-btn button.browser {
    border: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 50px;
}

button.window a {
    text-decoration: none;
    color: #23272a;
    align-items: center;
    display: flex;
    gap: 5px;
}

button.browser{
    background-color: #23272a;
}

button.browser a{
    text-decoration: none;
    color: #fff;
}


header::before {
    content: " ";
    position: absolute;
    width: 600px;
    height: 320px;
    background-image: url(images/header-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: -305px;
}


header::after {
    content: " ";
    position: absolute;
    width: 600px;
    height: 320px;
    background-image: url(images/header-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: -305px;
}



h1,h3,h5{
    font-family: 'Sigmar One', cursive !important;
}



